body{
    background-color: #f2f2f2;
}
/*inicio header*/
header{
    background-color: #585858;
    height: 70px;
    width: 100%;
    position: fixed!important;
    z-index: 5;
}
.nav-link:hover{
    color:rgb(255, 205, 98);
}
.nav-link{
    text-decoration: none;
    color:#FFF;
}
.menu{
    padding-left: 20em;
}
.form-inline{
    padding-left: 16em;
}
.fa-newspaper{
    font-size: 23px;
    margin-top:16px;
}
.fa-exclamation-circle{
    font-size: 23px;
    margin-top:16px;
}
.fa-envelope{
    font-size: 23px;
    margin-top:16px;
}
.rounded-circle{
    width:50px;
    height: 50px;
}
/*fin header*/
/*inicio secciones noticias*/

#menu{
    background-color: #f2f2f2;
}
#menu ul{
    position:fixed;
}
#news{
    background-color: #f2f2f2;
    padding-top: 7%;
}
#side{
    background-color: #f2f2f2;
}
#side h2,.eventos{
    position:fixed;
}
.eventos{
    padding-top: 4%;
}
/*post*/
.text , .options{
    text-align: center;
}
.text p{
    font-size: 24px;
}
.options button{
    width:100px;
    height: 57px;
}
/*Post de ejemplos*/
#oldPost{
    margin-top: 20px;
}
.oldpos{
    margin-bottom:20px;
}
.card-body{
    text-align: center
}
.data img{
    width: 50px;
    height: 50px;
}
.pos{
    text-align: center;
}
.data{
    float: left;
}
.eventos li img{
    width:100px;
    height: 100px;
}
.tagComent{
    padding-top: 10px;
}
.tagComent li{
    margin: 7px;
}
/*fin post de ejemplos*/
/* inicio perfil de usuario*/
#perfil {
   /* background-color: red; */
   text-align: center;
   padding-top: 5%;
}

#portafolio {
   background-color: blue;
}
#imgperfil {
   border-radius: 50%;
   width: 40%;
   margin: 2em;
}
.btns-perfil {
   text-align: center;
}
#img-contenedor img {
   width: 14.3em;
   height: 14.3em;
}

/* INICIO ZOOM PORTAFOLIO */
/* Safari y Chrome *//* Firefox */ /* IE 9 *//* Opera */
.portafolio-contenedor img {
-webkit-transition:all .9s ease;
-moz-transition:all .9s ease;
-o-transition:all .9s ease;
-ms-transition:all .9s ease;
width:100%;
}
.portafolio-contenedor:hover img {
-webkit-transform:scale(1.2);
-moz-transform:scale(1.2);
-ms-transform:scale(1.2);
-o-transform:scale(1.2);
transform:scale(1.2);
} */
.portafolio-contenedor {
width:100px;
height:100px;
overflow:hidden;
}

/* INICIO MODAL 1 */
.modal-content1 {
   background-image: url("../img/ilus1.jpg");
   background-size: cover;
   height: 40em;
}

/* INICIO MODAL 2 */
.modal-content2 {
   background-image: url("../img/ilus2.jpg");
   background-size: cover;
   height: 40em;
}
.modal-footer {
    background-color: white;
}

/* ROW NO GUTTERS */
<<<<<<< Updated upstream
/*.row.no-gutters {
=======
/* .row.no-gutters {
>>>>>>> Stashed changes
  margin-right: 0;
  margin-left: 0;

  & > [class^="col-"],
  & > [class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
  } */
/* FIN ROW NO GUTTERS */
<<<<<<< Updated upstream
/*incio galery-search*/
#form-busqueda{
    padding-top:10%;
}
.img-contenedor{
    padding-top: 7%;
}
.img1{
    width: 300px;
    height: 300px;
    margin: 4px;
}
=======

#section-principal {
    padding-top: 5em;
    margin-top: 3em;
}
>>>>>>> Stashed changes
