header{
    background-color: #585858;
    height: 70px;
    width: 100%;
    position: fixed;
}
.nav-link:hover{
    color:rgb(255, 205, 98);
}
.nav-link{
    text-decoration: none;
    color:#FFF;
}
.menu{
    padding-left: 20em;
}
.form-inline{
    padding-left: 16em;
}
.fa-newspaper{
    font-size: 23px;
    margin-top:16px;
}
.fa-exclamation-circle{
    font-size: 23px;
    margin-top:16px;
}
.fa-envelope{
    font-size: 23px;
    margin-top:16px;
}
.rounded-circle{
    width:50px;
    height: 50px;
}
/*header*/
#menu{
    background-color: aquamarine
}
#news{
    background-color: tomato
}
#side{
    background-color: blueviolet;
}

.text , .options{
    text-align: center;
}
.text p{
    font-size: 24px;
}
.options button{
    width:100px;
    height: 57px;
}
